$min-screen-xxs: 320px;
$max-screen-xxs: 479px;

$min-screen-xs: 480px;
$max-screen-xs: 575px;

$min-screen-sm: 576px;
$max-screen-sm: 767px;

$min-screen-md: 768px;
$max-screen-md: 991px;

$min-screen-lg: 992px;
$max-screen-lg: 1279px;

$min-screen-xl: 1280px;
$max-screen-xl: 1599px;

$min-screen-xxl: 1600px;
$max-screen-xxl: 1920px;
